<ul id="menubar" role="menubar" aria-label="Control Menubar Example">
    <li role="none">
        <a id="menu_item_link" role="menuitem" tabindex="0" aria-haspopup="true" aria-expanded="false"></a>
        <ul role="menu" aria-label="First Drop Down Menu">
            <li role="none">
                <a role="menuitem" href="somedestination" tabindex="-1">Some Label</a>
            </li>
            <li role="none">
                <a role="menuitem" href="someotherdestination" tabindex="-1">Some Label</a>
            </li>
        </ul>
    </li>
    <li role="none">
        <button id="menu_item_button" role="menuitem" tabindex="-1" aria-haspopup="true" aria-expanded="false"></button>
        <ul role="menu" aria-label="Second Drop Down Menu">
            <li role="menuitemradio" aria-checked="true" tabindex="-1">Some Label</li>
            <li role="menuitemradio" aria-checked="false" tabindex="-1">Some Label</li>
            <li role="menuitemradio" aria-checked="false" tabindex="-1">Some Label</li>
        </ul>
    </li>
</ul>