<h2 id="price-header">Filter Price</h2>
<div class="widget-slider">
    <div class="rail-label min">R100</div>
    <div class="rail">
        <div id="left-slider-thumb" class="thumb" role="slider" tabindex="0" aria-valuemin="0" aria-valuenow="100" aria-valuetext="100 Rand" aria-valuemax="2500" aria-label="Minimum Price"></div>
        <div id="right-slider-thumb" class="thumb" role="slider" tabindex="0" aria-valuemin="100" aria-valuenow="2500" aria-valuetext="2500 Rand" aria-valuemax="5000" aria-label="Maximum Price"></div>
    </div>
    <div class="rail-label max">R2500</div>
</div>